<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的文章</title>
    <link href="less/index.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="top_bar"></div>

<div class="myblog_index">
    <div class="myblog_index_1">
        <div class="index_main">
            <div class="article_list">
            </div>
            <div class="comment_module" style="display: none">
                <form class="comment_form">
                    <textarea id="comment" class="comment_textarea" placeholder="在这里输入您的评论"></textarea>
                    <div class="comment_more">
                        <input type="text" placeholder="在这里留下您的昵称" id="name">
                        <input type="email" placeholder="在这里留下您的邮箱" id="email">
                        <button id="submit">提交评论</button>
                    </div>
                </form>
                <BR/>
                <div class="comment_result">
                    <ul id="toAdd">
                    </ul>
                </div>
            </div>

        </div>

        <div class="index_info">
            <div class="info_top">
                <div class="info_header">
                    <p class="info_header_s"><A href="index.html">10000H.top</A></p>
                </div>
                <div class="language"><span>中文</span></div>
                <ul class="info_li">
                </ul>
                <div class="info_me">
                    <p class="info_me_s">要想成为大牛,10000hours,也是远远不够的。</p>
                </div>
            </div>
            <div class="info_second">
                <div class="protrait">
                    <img class="protrait_s" src="http://placeholder.cn/110">
                </div>
                <div class="name">XT.N</div>
                <div class="all_data">
                    <ul class="info_data">
                    </ul>
                    <ul class="info_data_tag">
                        <li>文章</li>
                        <li>笔记</li>
                        <li>浏览</li>
                    </ul>
                </div>
                <ul class="other_site">
                    <li><img src="images/7.jpg"><span>net@zju.edu.cn</span></li>
                    <li><a href="http://blog.csdn.net/ul646691993" target="_blank"><img src="images/6.jpg"><span>csdn blog</span></a></li>
                    <li><a href="https://github.com/aircloud" target="_blank"><img src="images/6.jpg"><span>github</span></a></li>
                </ul>
                <div class="rss">
                    <p>rss</p>
                </div>
                <div class="search">
                    <form>
                        <input id="index_search" class="index_search" type="text" name="search" placeholder="在这里搜索...">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <p>@2016 XT.N 版权所有,遵循<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh" style="border-bottom: dashed 1px cornflowerblue">署名-相同方式共享4.0国际协议</a></p>
</div>
<script src="javascripts/highlight/highlight.pack.js"></script>
<script src="javascripts/jquery/dist/jquery.min.js"></script>
<script src="javascripts/underscore/underscore-min.js"></script>
<script src="javascripts/backbone/backbone-min.js"></script>
<script type="text/template" id="listTemplate">
    <% _.each(datas, function (item) { %>
    <li><a href="<%= item.href %>"><img src="<%= item.url %>"><span><%= item.title %></span></a></li>
    <% }); %>
</script>
<script type="text/template" id="dataTemplate">
    <li><%= article_number %></li>
    <li class="info_data_border"><%= s_article_number %></li>
    <li><%= visitors %></li>
</script>
<script type="text/template" id="activeArticle">
    <div class="active_article">
        <div class="article_nav">
            <span class="return"><a href="#article">返回目录</a></span>
            <span class="previous"><a href="#article/<%= item.pre.id %>">上一篇&nbsp;:&nbsp;<%= item.pre.title %></a></span>
            <span class="tag">标签&nbsp;:&nbsp; <%= item.tag_tran %></span>
        </div>
        <div class="article_title">
            <H4> <%= item.title %></H4>
            <span> <%= item.time %></span>
        </div>
        <div class="article_s">
            <%= item.content %>
        </div>
        <div class="article_footer">
            <span class="next"><a href="#article/<%= item.nex.id %>">下一篇&nbsp;:&nbsp;<%= item.nex.title %></a></span>
        </div>
    </div>
</script>
<script type="text/template" id="articleList">
    <div class="count">
        <div>目前总计有<%= number %>篇文章</div>
    </div>
    <div class="list">
        <% _.each(data, function (item) { %>

        <div class="year">
            <div class="l_circle"></div>
            <p class="this_year"><%= item.year %></p>
        </div>
        <ul>
            <% _.each(item.article, function (article) { %>
            <li>
                <div class="s_circle"></div>
                <p class="this_time"><%= article.time %></p>
                <p class="this_title"><a href="#article/<%= article.ID %>"><%= article.title %></a><% _.each(article.tag, function (tag) { %><span class="tags"><a href="tag.html#tag/<%= tag %>"><%= tag %></a></span><% }); %></p>
            </li>
            <% }); %>
        </ul>
        <br/>
        <br/>
        <% }); %>
    </div>
</script>
<script type="text/template" id="commentModel">
    <li>
        <p><span class="user_name"><%= name %></span>在<span class="user_time"><%= time %></span>评论到:</p>
        <p class="user_comment"><%= comment %></p>
    </li>
</script>
<script src="javascripts/index.js"></script>
<script src="javascripts/article.js"></script>
</body>
</html>